version: "3.9"

services:
  app:
    image: papko26/gtw:latest
    container_name: gtw
    expose:
      - "5000"
    env_file:
      - gtw.env
    environment:
      - GOOGLE_API_KEY=${GOOGLE_API_KEY}
      - FLASK_ENV=${FLASK_ENV}
      - FLASK_DEBUG=${FLASK_DEBUG}
    restart: always

  nginx:
    image: nginx:latest
    container_name: nginx
    depends_on:
      - app
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - type: bind
        source: /etc/nginx/nginx.conf
        target: /etc/nginx/nginx.conf
        read_only: true
      - type: bind
        source: /etc/nginx/certs
        target: /etc/letsencrypt
        read_only: true
      - type: bind
        source: /var/www/certbot
        target: /var/www/certbot
    restart: always